<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Software Engineer Portfolio</title>
  <link rel="stylesheet" href="../static/styles/scroll.css">
</head>
<body>
  <div class="container">
    <section id="Home" class="slide slide1">
      <div class="nav">
	<ul>
	  <li><a href="#Home">Home</a></li>
	  <li><a href="#About">About</a></li>
	  <li><a href="#Projects">Projects</a></li>
	  </li><a href="#">Blogs</a></li>
	  <li><a href="#Contact">Contact</a></li>
	</ul>
      </div>

      <div class="intro">
	<h1>Hi! My name is Francis Kamau and I am a Software Engineer.</h1>
	<h2>Take a look at my profile below</h2>
	</div>
    </section>
    <section id="About" class="slide headline slide2">
      <div class="head">
	<h1>Crafting Digital Solutions: Elevating Experiences, One Line of Code at a Time</h1>
	<h2>Innovative digital solutions meticulously crafted to elevate user experience. Experience firsthand how my expertise in software engineering can transform your ideas into impactful realities, setting new standards in the digital landscape.</h2>
      </div>
    </section>
    <section id="Projects" class="slide slide3">
      <div class="projects">
	<div class="project">
          <h3>Chatsphere App</h3>
          <p>A messaging app built using React Native.</p>
          <a href="#">View Project</a>
	</div>
	<div class="project">
          <h3>AirBnB Clone</h3>
          <p>A web application replicating AirBnB functionalities using Django.</p>
          <a href="#">View Project</a>
	</div>
	<div class="project">
          <h3>Shell Projects</h3>
          <p>Various shell scripting projects automating system tasks.</p>
          <a href="#">View Project</a>
	</div>
      </div>
    </section>
    <footer id="Contact" class="slide">
      <div class="contact">
	&copy; 2024 Francis Kamau
      </div>
    </footer>
  </div>

</body>
</html>
