* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.slides {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 3em;
    scroll-snap-align: start;
}
 header, .headline {
  width: 90%;
  margin: auto;
  gap: 3em;
}

header {
    width: 100%;
    flex-direction: row;
  background-color: #333;
  color: #fff;
  min-height: 3em;
  align-items: center;
}


ul {
    margin-left: 5%;
    list-style-type: none;
    display: flex;
    gap: 3em;
}

#projects {
    padding: 3em 0;
    padding-top: 0;
}
.np {
    padding-top: 1em;
    margin-left: 2.5em;
    margin-bottom: 0.5em;
}
.project, .head {
    display: flex;
    flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  margin-bottom: 1em;
}
.head h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.project h3 {
  color: #333;
  margin-bottom: 10px;
}

.project p {
  color: #666;
}

.project a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 10px;
}

.project a:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
